.hidden {
	display: none;
}

ul {
	padding-left: 1rem;
}

a {
	color: #08c;
}

a:hover {
	color: #005580;
	text-decoration: none;
}

#count {
	color: #08c;
	border-bottom: 1px dotted #08c;
}

#count:hover {
	cursor: pointer;
}

