* {
	font-family: proxima-nova, sans-serif
}

.hidden {
	display: none;
}

ul {
	list-style: none;
	padding-left: 1em;
}

ul li:before {
	
}

a {
	color: #08c;
}

a:hover {
	color: #005580;
	text-decoration: none;
}

#count {
	color: #08c;
	border-bottom: 1px dotted #08c;
}

#count:hover {
	cursor: pointer;
}